@font-face {
  font-family: "AvenirThin";
  font-weight: 300;
  src: url("../fonts/Avenir/AvenirNextCyr-Thin.ttf"); }
@font-face {
  font-family: "AvenirThin";
  font-weight: 400;
  src: url("../fonts/Avenir/AvenirNextCyr-Medium.ttf"); }
@font-face {
  font-family: "BebasNeue";
  font-weight: bold;
  src: url("../fonts/Bebas/BebasNeue Bold.otf"); }
.text-warning {
  color: #e52443; }

a, p {
  font-family: AvenirThin;
  font-weight: 300; }

.text-white {
  color: white; }

.body {
  width: 100%; }

.p-0 {
  padding: 0 !important; }

.subtitle {
  padding-left: 80px;
  position: relative;
  font-weight: 400;
  font-size: 18px; }
  .subtitle::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 61px;
    height: 2px;
    background-color: #e52443; }

.menu {
  left: 0;
  top: 0;
  z-index: 11;
  background-color: #e52443;
  width: 20%;
  height: 100vh;
  position: fixed; }
  .menu__list {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    padding: 0 50px; }
    .menu__list a {
      font-size: 15px;
      color: #212121;
      display: block;
      margin-bottom: 20px;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      font-weight: 300; }
      .menu__list a:hover {
        color: #e52443;
        font-weight: bold; }
  .menu__footer {
    padding: 20px 50px;
    color: white; }
    .menu__footer a {
      color: white;
      font-weight: 400;
      margin-bottom: 15px;
      display: block; }

.content {
  width: 80%;
  margin-left: 20%; }

img {
  max-width: 100%; }

.position-relative {
  position: relative; }

.title {
  font-size: 50px;
  padding-bottom: 40px;
  margin: 0;
  font-weight: bold;
  font-family: BebasNeue;
  text-transform: uppercase; }

section, footer {
  padding-top: 50px;
  padding-bottom: 50px; }

button.btn-main {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #e52443;
  outline: none;
  border: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 100%; }
  button.btn-main span {
    margin-right: 15px; }

.header {
  background-image: url("../img/header.png");
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat; }
  .header .contact {
    position: absolute;
    top: 30px;
    right: 10%; }
    .header .contact a {
      margin-left: 10px;
      font-size: 17px; }
  .header .col-md-3 {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 100vh; }
  .header h1 {
    font-size: 50px;
    color: white;
    margin: 0;
    font-family: BebasNeue;
    font-weight: bold; }
  .header .text {
    text-align: center;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header p {
    color: white;
    font-size: 18px;
    position: relative;
    display: inline-block; }
    .header p::after {
      position: absolute;
      width: 61px;
      height: 1px;
      background-color: #ffffff;
      content: "";
      top: calc(50%);
      right: 0;
      -webkit-transform: translateX(110%);
      -moz-transform: translateX(110%);
      -ms-transform: translateX(110%);
      -o-transform: translateX(110%);
      transform: translateX(110%); }
    .header p::before {
      position: absolute;
      width: 61px;
      height: 1px;
      background-color: #ffffff;
      content: "";
      top: calc(50%);
      left: 0;
      -webkit-transform: translateX(-110%);
      -moz-transform: translateX(-110%);
      -ms-transform: translateX(-110%);
      -o-transform: translateX(-110%);
      transform: translateX(-110%); }

.calculator .subtitle {
  margin-bottom: 40px; }
.calculator .box {
  padding: 18px 25px;
  box-shadow: 0px 18px 32px 0 rgba(41, 41, 41, 0.3);
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .calculator .box:hover {
    color: white;
    background-color: #e52443; }
    .calculator .box:hover span {
      color: white; }
  .calculator .box span {
    margin-right: 20px;
    font-family: BebasNeue;
    font-size: 55px;
    font-weight: bold;
    color: #e52443; }
  .calculator .box p {
    font-weight: 400;
    margin: 0;
    font-size: 12px; }
.calculator .input-container {
  position: relative;
  margin-top: 30px; }
.calculator input {
  background-color: #e8e8e8;
  padding: 10px 15px;
  font-weight: 300;
  font-family: AvenirThin;
  color: #292929;
  font-size: 18px;
  border: 0;
  outline: none !important;
  margin-top: 10px;
  width: 100%;
  display: block; }
.calculator p {
  margin: 0; }
.calculator #range-value:before {
  background-color: #ffffff;
  content: "";
  height: 10px;
  left: -5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
  width: 10px; }
.calculator .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 4px 5px 0 rgba(229, 36, 67, 0.35);
  border: solid 3px #ffffff;
  background-color: #e52443; }
.calculator .range {
  -webkit-appearance: none;
  background-color: #e52443;
  cursor: pointer;
  height: 2px;
  outline: 0;
  width: 100%;
  padding: 1px !important;
  margin: 0 !important; }
.calculator form {
  box-shadow: 0px 23px 32px 0 rgba(41, 41, 41, 0.3);
  padding: 30px 50px 0;
  height: 100%; }
  .calculator form .input-container {
    margin-bottom: 15px;
    margin-top: 0; }
  .calculator form .text-warning {
    font-family: AvenirThin;
    margin-top: 30px; }
    .calculator form .text-warning span:first-child {
      margin-right: 10px; }

footer {
  background-image: url("../img/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white; }
  footer img {
    margin-right: 20px; }
  footer span {
    font-weight: bold; }
  footer a {
    color: white; }
  footer .map {
    margin-top: 43px;
    padding-bottom: 400px; }

.title {
  font-size: 50px;
  padding-bottom: 40px;
  font-weight: bold;
  font-family: BebasNeue;
  text-transform: uppercase;
  margin: 0; }

section, footer {
  padding-top: 50px;
  padding-bottom: 50px; }

.place {
  background-color: white; }
  .place span {
    color: #e52443; }
  .place .tab {
    background-color: #292929;
    width: 24.11%;
    max-width: 268px;
    min-height: 365px; }
    .place .tab h3 {
      font-size: 120px;
      font-weight: bold;
      font-family: BebasNeue;
      line-height: 0.8;
      color: rgba(255, 255, 255, 0.1);
      -webkit-transform: translateX(-4%);
      -moz-transform: translateX(-4%);
      -ms-transform: translateX(-4%);
      -o-transform: translateX(-4%);
      transform: translateX(-4%); }
    .place .tab img {
      margin: 20px auto 34px; }
    .place .tab p {
      padding: 0 28px; }
  .place .shop-1 {
    margin-top: 90px; }
    .place .shop-1 p {
      margin-left: 20px;
      color: #2a2223;
      font-weight: 400;
      line-height: 1.2; }
  .place .shop-2 {
    margin-top: 64px;
    border-left: 2px solid #e52443; }
    .place .shop-2 h4 {
      font-size: 18px;
      font-family: AvenirThin; }

.text-center {
  text-align: center; }

.mortgage .progress {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  transform: rotate(-90deg) rotateX(180deg); }
.mortgage .progress circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s ease;
  stroke: #e52443;
  stroke-width: 9px; }
.mortgage .progress .bar {
  stroke: #e8e8e8; }
.mortgage .progressdiv {
  position: relative;
  color: #e52443;
  font-family: BebasNeue;
  margin-bottom: 10px;
  margin-top: 45px; }
.mortgage .progressdiv:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 64px;
  transform: translate(-50%, -50%);
  content: attr(data-percent) " %"; }
.mortgage-bottom {
  margin-top: 52px;
  margin-bottom: 14px; }
  .mortgage-bottom-second {
    margin-top: 68px;
    margin-bottom: 12px; }
.mortgage p {
  line-height: 1.2; }
.mortgage span {
  color: #e52443;
  font-size: 19px;
  font-weight: 400; }

.importance {
  position: relative; }
  .importance video {
    position: absolute;
    top: 0;
    right: 0; }
  .importance h3 {
    color: #cacaca;
    font-size: 136px;
    font-family: BebasNeue; }
  .importance-choice {
    background-image: url("../img/item.1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 85px;
    text-align: center;
    margin-left: 30px; }
  .importance-bottom-2 {
    -webkit-transform: translateY(-23%);
    -moz-transform: translateY(-23%);
    -ms-transform: translateY(-23%);
    -o-transform: translateY(-23%);
    transform: translateY(-23%); }
  .importance-bottom-1 p {
    margin: 0 60px 0 21px;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
