@font-face
    font-family: 'AvenirThin'
    font-weight: 300
    src:  url('../fonts/Avenir/AvenirNextCyr-Thin.ttf')
@font-face
    font-family: 'AvenirThin'
    font-weight: 400
    src:  url('../fonts/Avenir/AvenirNextCyr-Medium.ttf')
@font-face
    font-family: 'BebasNeue'
    font-weight: bold
    src:  url('../fonts/Bebas/BebasNeue Bold.otf')

$red: #e52443
$grey: #e8e8e8

.text-warning
    color: $red

a,p
    font-family: AvenirThin
    font-weight: 300

.text-white
    color: white

.body
    width: 100%

.p-0
    padding: 0 !important

.subtitle
    padding-left: 80px
    position: relative
    font-weight: 400
    font-size: 18px
    &::after
        position: absolute
        content: ""
        left: 0
        top: 50%
        width: 61px
        height: 2px
        background-color: #e52443

.menu
    left: 0
    top: 0
    z-index: 11
    background-color: $red
    width: 20%
    height: 100vh
    position: fixed
    &__list
        background-color: $grey
        width: 100%
        height: 100%
        padding: 0 50px
        a
            font-size: 15px
            color: #212121
            display: block
            margin-bottom: 20px
            -webkit-transition: .4s
            -moz-transition: .4s
            -ms-transition: .4s
            -o-transition: .4s
            transition: .4s
            font-weight: 300
            &:hover
                color: $red
                font-weight: bold
    &__footer
        padding: 20px 50px
        color: white
        a
            color: white
            font-weight: 400
            margin-bottom: 15px
            display: block

.content
    width: 80%
    margin-left: 20%

img
    max-width: 100%

.position-relative
    position: relative

.title
    font-size: 50px
    padding-bottom: 40px
    margin: 0
    font-weight: bold
    font-family: BebasNeue
    text-transform: uppercase

section, footer
    padding-top: 50px
    padding-bottom: 50px

button.btn-main
    font-size: 18px
    color: #ffffff
    text-transform: uppercase
    background-color: $red
    outline: none
    border: 0
    padding: 20px 0
    display: flex
    justify-content: center
    width: 100%
    span
        margin-right: 15px

///////Argo
.header
    background-image: url("../img/header.png")
    background-position: center
    height: 100vh
    background-size: cover
    background-repeat: no-repeat
    .contact
        position: absolute
        top: 30px
        right: 10%
        a
            margin-left: 10px
            font-size: 17px
    .col-md-3
        border-right: 1px solid rgba(255,255,255,.5)
        height: 100vh
    h1
        font-size: 50px
        color: white
        margin: 0
        font-family: BebasNeue
        font-weight: bold
    .text
        text-align: center
        width: 100%
        left: 0
        position: absolute
        top: 50%
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
        -o-transform: translateY(-50%)
        transform: translateY(-50%)
    p
        color: white
        font-size: 18px
        position: relative
        display: inline-block
        &::after
            position: absolute
            width: 61px
            height: 1px
            background-color: #ffffff
            content: ''
            top: calc(50%)
            right: 0
            -webkit-transform: translateX(110%)
            -moz-transform: translateX(110%)
            -ms-transform: translateX(110%)
            -o-transform: translateX(110%)
            transform: translateX(110%)
        &::before
            position: absolute
            width: 61px
            height: 1px
            background-color: #ffffff
            content: ''
            top: calc(50%)
            left: 0
            -webkit-transform: translateX(-110%)
            -moz-transform: translateX(-110%)
            -ms-transform: translateX(-110%)
            -o-transform: translateX(-110%)
            transform: translateX(-110%)

.calculator
    .subtitle
        margin-bottom: 40px
    .box
        padding: 18px 25px
        box-shadow: 0px 18px 32px 0 rgba(41, 41, 41, 0.3)
        background-color: #f2f2f2
        display: flex
        align-items: center
        justify-content: space-between
        margin-right: 20px
        width: 100%
        -webkit-transition: .3s
        -moz-transition: .3s
        -ms-transition: .3s
        -o-transition: .3s
        transition: .3s
        &:hover
            color: white
            background-color: $red
            span
                color: white
        span
            margin-right: 20px
            font-family: BebasNeue
            font-size: 55px
            font-weight: bold
            color: #e52443
        p
            font-weight: 400
            margin: 0
            font-size: 12px
    .input-container
        position: relative
        margin-top: 30px
    input
        background-color: #e8e8e8
        padding: 10px 15px
        font-weight: 300
        font-family: AvenirThin
        color: #292929
        font-size: 18px
        border: 0
        outline: none !important
        margin-top: 10px
        width: 100%
        display: block
    p
        margin: 0
    #range-value:before
        background-color: #ffffff
        content: ''
        height: 10px
        left: -5px
        position: absolute
        top: 50%
        transform: translateY(-50%) rotateZ(45deg)
        width: 10px
    .range::-webkit-slider-thumb
        -webkit-appearance: none
        width: 15px
        height: 15px
        border-radius: 50%
        box-shadow: 0px 4px 5px 0 rgba(229, 36, 67, 0.35)
        border: solid 3px #ffffff
        background-color: #e52443
    .range
        -webkit-appearance: none
        background-color: $red
        cursor: pointer
        height: 2px
        outline: 0
        width: 100%
        padding: 1px !important
        margin: 0 !important
    form
        box-shadow: 0px 23px 32px 0 rgba(41, 41, 41, 0.3)
        padding: 30px 50px 0
        height: 100%
        .input-container
            margin-bottom: 15px
            margin-top: 0
        .text-warning
            font-family: AvenirThin
            margin-top: 30px
            span:first-child
                margin-right: 10px
//MAHA
footer
    background-image: url("../img/footer.png")
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    color: white
    img
        margin-right: 20px
    span
        font-weight: bold
    a
        color: white
    .map
        margin-top: 43px
        padding-bottom: 400px

.title
    font-size: 50px
    padding-bottom: 40px
    font-weight: bold
    font-family: BebasNeue
    text-transform: uppercase
    margin: 0

section, footer
    padding-top: 50px
    padding-bottom: 50px

.place
    background-color: white
    span
        color: #e52443
    .tab
        background-color: #292929
        width: 24.11%
        max-width: 268px
        min-height: 365px
        h3
            font-size: 120px
            font-weight: bold
            font-family: BebasNeue
            line-height: 0.8
            color: rgba(255, 255, 255, 0.1)
            -webkit-transform: translateX(-4%)
            -moz-transform: translateX(-4%)
            -ms-transform: translateX(-4%)
            -o-transform: translateX(-4%)
            transform: translateX(-4%)
        img
            margin: 20px auto 34px
        p
            padding: 0 28px
    .shop-1
        margin-top: 90px
        p
            margin-left: 20px
            color: #2a2223
            font-weight: 400
            line-height: 1.2
    .shop-2
        margin-top: 64px
        border-left: 2px solid #e52443
        h4
            font-size: 18px
            font-family: AvenirThin

.text-center
    text-align: center

.mortgage
    .progress
        display: block
        margin: 0 auto
        overflow: hidden
        transform: rotate(-90deg) rotateX(180deg)
    .progress circle
        stroke-dashoffset: 0
        transition: stroke-dashoffset 1s ease
        stroke: #e52443
        stroke-width: 9px
    .progress .bar
        stroke: #e8e8e8
    .progressdiv
        position: relative
        color: #e52443
        font-family: BebasNeue
        margin-bottom: 10px
        margin-top: 45px
    .progressdiv:after
        position: absolute
        top: 50%
        left: 50%
        font-size: 64px
        transform: translate(-50%, -50%)
        content: attr(data-percent) " %"
    &-bottom
        margin-top: 52px
        margin-bottom: 14px
        &-second
            margin-top: 68px
            margin-bottom: 12px
    p
        line-height: 1.2
    span
        color: #e52443
        font-size: 19px
        font-weight: 400
.importance
    position: relative
    video
        position: absolute
        top: 0
        right: 0
    h3
        color: #cacaca
        font-size: 136px
        font-family: BebasNeue
    &-choice
        background-image: url("../img/item.1.png")
        background-position: center
        background-size: contain
        background-repeat: no-repeat
        height: 85px
        text-align: center
        margin-left: 30px
    &-bottom-2
        -webkit-transform: translateY(-23%)
        -moz-transform: translateY(-23%)
        -ms-transform: translateY(-23%)
        -o-transform: translateY(-23%)
        transform: translateY(-23%)
    &-bottom-1
        p
            margin: 0 60px 0 21px
            font-weight: 400
